{% extends 'base.html' %}  
   
{% block head %}  
    <title>Customer Segmentation</title>  
{% endblock %}  
 
{% block body %}  
<div class="container-contact100">  
    <div class="wrap-contact100">  
        <form class="contact100-form validate-form" action="/" method="GET">  
            {% if result == 2 %}  
                    <span class="contact100-form-title">  
                        <h5>Hasil Prediksi:</h5><br> 
                        <div class="container d-flex ">
                            <div class="row"><img style="width: 30%;" src="https://drive.google.com/uc?export=view&id=1Oa2Zj4ldu6qH2cy5bTttgArlwGErvAD5" alt="" srcset=""></div>
                            <div class="row" >
                                <p>The Customer Segmentation is : </p>
                                <h6>Mid Value Customer </h6>
                            </div>
                        </div>
                    </span>
            {% elif result == 1 %} 
                    <span class="contact100-form-title">  
                        <h5>Hasil Prediksi:</h5><br> 
                        <div class="container d-flex ">
                            <div class="row"><img style="width: 30%;" src="https://drive.google.com/uc?export=view&id=1Oa2Zj4ldu6qH2cy5bTttgArlwGErvAD5" alt="" srcset=""></div>
                            <div class="row" >
                                <p>The Customer Segmentation is : </p>
                                <h6>Mid Value Customer </h6>
                            </div>
                        </div>
                    </span>

            {% elif result == 0 %}  
                    <span class="contact100-form-title">  
                        <h5>Hasil Prediksi:</h5><br> 
                        <div class="container d-flex ">
                            <div class="row"><img style="width: 30%;" src="https://drive.google.com/uc?export=view&id=1gyKEQ8Tv3j82pKOPa10ksEuUdeSRg04r" alt="" srcset=""></div>
                            <div class="row" >
                                <p>The Customer Segmentation is : </p>
                                <h6 style="color: rgb(219, 6, 6);">Low Value Customer </h6>
                            </div>
                        </div>
                    </span>
            {% elif result == 3 %}  
                    <span class="contact100-form-title">  
                        <h5>Hasil Prediksi:</h5><br> 
                        <div class="container d-flex ">
                            <div class="row"><img style="width: 30%;" src="https://drive.google.com/uc?export=view&id=1Oa2Zj4ldu6qH2cy5bTttgArlwGErvAD5" alt="" srcset=""></div>
                            <div class="row" >
                                <p>The Customer Segmentation is : </p>
                                <h6 style="color: rgb(31, 175, 31);">High Value Customer </h6>
                            </div>
                        </div>
                    </span>

            {%  else %}
                <span class="contact100-form-title">  
                    Undefined
                </span>
            {% endif %}
   
            <div class="container-contact100-form-btn">  
                <div class="wrap-contact100-form-btn">  
                    <div class="contact100-form-bgbtn"></div>  
                    <button class="contact100-form-btn">  
                        <span>  
                            Prediksi Customer Selanjutnya!  
                        </span>  
                    </button>  
                    </div>  
                </div>  
            </div>   
        </form>  
    </div>  
</div>  
  
{% endblock %}  